
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.title-P2N {
  box-sizing: border-box;
  padding: 1.7rem 18.6rem 1.6rem 18.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #ffffff;
}
.title-P2N .menu-1-W6z {
  margin: 0rem 2.9rem 0.1rem 0rem;
  width: 3.6rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.title-P2N .shoppingbag-1-1pS {
  margin: 0rem 24.8rem 0.1rem 0rem;
  width: 3.2rem;
  height: 4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.title-P2N .group-1-YZU {
  margin-right: 30.9rem;
  width: 37.9rem;
  height: 7.5rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 0.675;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  border-radius: 5rem;
  flex-shrink: 0;
}
.title-P2N .search-1-1xr {
  margin-bottom: 0.11rem;
  width: 3.6rem;
  height: 3.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
