
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-3-Cf8 {
  background-color: #ffffff;
  width: 100%;
  height: 102.4rem;
  position: relative;
  overflow: hidden;

  .title-YU6 {
    top: 0;
    display: flex;
    box-sizing: border-box;
    width: 144rem;
    height: 10.8rem;
    left: 0;
    padding: 1.7rem 18.6rem 1.6rem 18.5rem;
    position: absolute;
    align-items: center;
    background-color: #ffffff;

    .menu-1-9yg {
      margin: 0rem 2.1rem 0.1rem 0rem;
      width: 3.6rem;
      height: 2.4rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .shoppingbag-1-sug {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 24rem 0.1rem 0rem;
      width: 4.8rem;
      height: 4.8rem;
      cursor: pointer;
    }
    .group-1-Pd8 {
      border-radius: 5rem;
      height: 100%;
      line-height: 0.675;
      font-family: Inter, 'Source Sans Pro';
      background-color: #000000;
      width: 37.9rem;
      white-space: nowrap;
      align-items: center;
      margin-right: 30.9rem;
      font-size: 4rem;
      font-weight: 700;
      color: #ffffff;
      display: flex;
      justify-content: center;
      flex-shrink: 0;
    }
    .search-1-FvE {
      height: 3.6rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-bottom: 0.11rem;
      width: 3.6rem;
    }
  }
  .auto-group-cnzi-axW {
    height: 58.2rem;
    position: absolute;
    left: 0;
    top: 10.8rem;
    width: 144rem;

    .menubt-8DL {
      width: 144rem;
      height: 8.3rem;
      position: absolute;
      left: 0;
      top: 0;

      .rectangle-2-GKY {
        height: 8.1rem;
        position: absolute;
        left: 0;
        top: 0.1rem;
        background-color: #ffd0a5;
        width: 144rem;
      }
      .menu-bci {
        left: 20.8rem;
        top: 2.8rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        width: 7.2rem;
        position: absolute;
        white-space: nowrap;
        height: 2.7rem;
      }
      .new-utJ {
        white-space: nowrap;
        position: absolute;
        font-size: 2.4rem;
        font-weight: 400;
        top: 2.9rem;
        line-height: 1.125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        width: 5.6rem;
        height: 2.7rem;
        left: 53.3rem;
      }
      .sale-Rbk {
        width: 6rem;
        height: 2.7rem;
        left: 68.8rem;
        font-size: 2.4rem;
        position: absolute;
        top: 2.8rem;
        font-weight: 400;
        line-height: 1.125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
      .best-wKC {
        line-height: 1.125;
        font-size: 2.4rem;
        height: 2.7rem;
        position: absolute;
        left: 37.1rem;
        top: 2.9rem;
        font-weight: 400;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        width: 6.1rem;
        white-space: nowrap;
      }
      .all-rBG {
        width: 4.4rem;
        height: 2.7rem;
        left: 85.8rem;
        top: 2.9rem;
        font-weight: 400;
        line-height: 1.125;
        position: absolute;
        font-size: 2.4rem;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
      .my-ZrN {
        left: 102rem;
        top: 2.9rem;
        line-height: 1.125;
        font-family: Inter, 'Source Sans Pro';
        font-weight: 400;
        color: #000000;
        white-space: nowrap;
        width: 3.8rem;
        height: 2.7rem;
        position: absolute;
        font-size: 2.4rem;
      }
      .more-HnN {
        width: 7rem;
        position: absolute;
        left: 116.2273rem;
        font-weight: 400;
        color: #000000;
        white-space: nowrap;
        height: 2.7rem;
        top: 2.8rem;
        font-size: 2.4rem;
        line-height: 1.125;
        font-family: Inter, 'Source Sans Pro';
      }
    }
    .mask-group-Qc6 {
      width: 111rem;
      height: 50rem;
      position: absolute;
      left: 16.5rem;
      top: 8.2rem;
      object-fit: contain;
      vertical-align: top;
    }
  }
  .item--wrv {
    height: 7rem;
    position: absolute;
    left: 16.5rem;
    top: 69rem;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    width: 32.6rem;
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 1.09375;
  }
  .item--DZY {
    top: 78.5rem;
    font-size: 2.4rem;
    line-height: 1.4583333333;
    white-space: nowrap;
    width: 52.8rem;
    position: absolute;
    left: 43.9rem;
    font-family: Inter, 'Source Sans Pro';
    height: 3.5rem;
    font-weight: 400;
    color: #000000;
  }
  .item--sPC {
    font-family: Inter, 'Source Sans Pro';
    height: 14rem;
    position: absolute;
    top: 84.5rem;
    color: #000000;
    line-height: 1.4583333333;
    width: 64.3rem;
    left: 53.6rem;
    font-size: 2.4rem;
    font-weight: 400;
  }
}
