
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-4-fZG {
  width: 100%;
  overflow: hidden;
  align-items: center;
  background-color: #ffffff;
  box-sizing: border-box;
  padding-bottom: 3.3rem;
  position: relative;
  display: flex;
  flex-direction: column;

  .title-CZC {
    padding: 1.7rem 18.6rem 1.6rem 18.5rem;
    width: 100%;
    height: 10.8rem;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    flex-shrink: 0;
    box-sizing: border-box;

    .menu-1-vEJ {
      flex-shrink: 0;
      margin: 0rem 2.9rem 0.1rem 0rem;
      width: 3.6rem;
      height: 2.4rem;
      object-fit: contain;
      vertical-align: top;
    }
    .shoppingbag-1-qs4 {
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 24.8rem 0.1rem 0rem;
      width: 3.2rem;
      height: 4rem;
      object-fit: contain;
    }
    .group-1-AuL {
      height: 100%;
      font-weight: 700;
      font-family: Inter, 'Source Sans Pro';
      width: 37.9rem;
      align-items: center;
      background-color: #000000;
      line-height: 0.675;
      color: #ffffff;
      justify-content: center;
      flex-shrink: 0;
      margin-right: 30.9rem;
      font-size: 4rem;
      white-space: nowrap;
      display: flex;
      border-radius: 5rem;
    }
    .search-1-Sbx {
      margin-bottom: 0.11rem;
      width: 3.6rem;
      height: 3.6rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .auto-group-ags8-aCN {
    margin-bottom: 2.7rem;
    width: 100%;
    height: 13.6rem;
    position: relative;
    flex-shrink: 0;

    .menubt-i3g {
      width: 144rem;
      height: 8.3rem;
      position: absolute;
      left: 0;
      top: 0;

      .rectangle-2-EXp {
        width: 144rem;
        height: 8.1rem;
        position: absolute;
        left: 0;
        top: 0.1rem;
        background-color: #ffd0a5;
      }
      .menu-aLn {
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        height: 2.7rem;
        left: 20.8rem;
        font-weight: 400;
        line-height: 1.125;
        white-space: nowrap;
        width: 7.2rem;
        position: absolute;
        top: 2.8rem;
        font-size: 2.4rem;
      }
      .new-GjQ {
        width: 5.6rem;
        height: 2.7rem;
        left: 53.3rem;
        line-height: 1.125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        position: absolute;
        top: 2.9rem;
        font-size: 2.4rem;
        font-weight: 400;
        white-space: nowrap;
      }
      .sale-mgA {
        top: 2.8rem;
        font-weight: 400;
        line-height: 1.125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        height: 2.7rem;
        left: 68.8rem;
        font-size: 2.4rem;
        white-space: nowrap;
        width: 6rem;
        position: absolute;
      }
      .best-gYE {
        position: absolute;
        left: 37.1rem;
        line-height: 1.125;
        font-family: Inter, 'Source Sans Pro';
        color: #000000;
        white-space: nowrap;
        width: 6.1rem;
        height: 2.7rem;
        top: 2.9rem;
        font-size: 2.4rem;
        font-weight: 400;
      }
      .all-Bjt {
        position: absolute;
        left: 85.8rem;
        top: 2.9rem;
        font-weight: 400;
        line-height: 1.125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        height: 2.7rem;
        white-space: nowrap;
        font-size: 2.4rem;
        width: 4.4rem;
      }
      .my-WGN {
        height: 2.7rem;
        position: absolute;
        font-size: 2.4rem;
        font-weight: 400;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        width: 3.8rem;
        left: 102rem;
        top: 2.9rem;
        line-height: 1.125;
        white-space: nowrap;
      }
      .more-q3k {
        height: 2.7rem;
        position: absolute;
        left: 116.2273rem;
        top: 2.8rem;
        font-size: 2.4rem;
        width: 7rem;
        line-height: 1.125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        font-weight: 400;
      }
    }
    .rectangle-35-x8N {
      width: 144rem;
      height: 5.4rem;
      position: absolute;
      left: 0;
      top: 8.2rem;
      background-color: #fce9d8;
    }
    .group-30-u3c {
      line-height: 1.35;
      white-space: nowrap;
      justify-content: center;
      position: absolute;
      left: 16.9rem;
      top: 8.2rem;
      font-size: 2rem;
      display: flex;
      background-color: #fce9d8;
      font-weight: 400;
      align-items: center;
      width: 27.5rem;
      height: 5.2rem;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
    }
    .group-31-zKx {
      position: absolute;
      top: 8.2rem;
      font-family: Inter, 'Source Sans Pro';
      background-color: #fce9d8;
      width: 27.6rem;
      left: 44.6rem;
      line-height: 1.35;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 5.2rem;
      font-size: 2rem;
      font-weight: 400;
      color: #000000;
      white-space: nowrap;
    }
    .group-32-gyU {
      position: absolute;
      font-size: 2rem;
      font-family: Inter, 'Source Sans Pro';
      align-items: center;
      height: 5.2rem;
      top: 8.2rem;
      font-weight: 400;
      color: #000000;
      left: 72rem;
      white-space: nowrap;
      display: flex;
      justify-content: center;
      background-color: #fce9d8;
      line-height: 1.35;
      width: 27.6rem;
    }
    .group-33-zDU {
      left: 99.6rem;
      top: 8.2rem;
      font-weight: 400;
      color: #000000;
      width: 27.6rem;
      height: 5.2rem;
      white-space: nowrap;
      display: flex;
      align-items: center;
      position: absolute;
      font-family: Inter, 'Source Sans Pro';
      justify-content: center;
      background-color: #fce9d8;
      font-size: 2rem;
      line-height: 1.35;
    }
  }
  .item-1-t3x {
    width: 111rem;
    height: 72rem;
    object-fit: cover;
    vertical-align: top;
    flex-shrink: 0;
  }
}
