
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.menubt-ufc {
  width: 100%;
  height: 8.3rem;
  position: relative;

  .rectangle-2-3mp {
    background-color: #ffd0a5;
    width: 144rem;
    height: 8.1rem;
    position: absolute;
    left: 0;
    top: 0.1rem;
  }
  .menu-yvN {
    width: 7.2rem;
    height: 2.7rem;
    position: absolute;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    left: 20.8rem;
    top: 2.8rem;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 1.125;
    white-space: nowrap;
  }
  .new-t1k {
    font-weight: 400;
    line-height: 1.125;
    color: #000000;
    white-space: nowrap;
    width: 5.6rem;
    position: absolute;
    font-size: 2.4rem;
    font-family: Inter, 'Source Sans Pro';
    height: 2.7rem;
    left: 53.3rem;
    top: 2.9rem;
  }
  .sale-PjC {
    line-height: 1.125;
    color: #000000;
    white-space: nowrap;
    width: 6rem;
    font-size: 2.4rem;
    font-weight: 400;
    top: 2.8rem;
    font-family: Inter, 'Source Sans Pro';
    height: 2.7rem;
    position: absolute;
    left: 68.8rem;
  }
  .best-7QJ {
    position: absolute;
    font-size: 2.4rem;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    font-weight: 400;
    line-height: 1.125;
    white-space: nowrap;
    width: 6.1rem;
    height: 2.7rem;
    left: 37.1rem;
    top: 2.9rem;
  }
  .all-QuC {
    line-height: 1.125;
    width: 4.4rem;
    position: absolute;
    top: 2.9rem;
    font-size: 2.4rem;
    font-weight: 400;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    height: 2.7rem;
    left: 85.8rem;
  }
  .my-Xiv {
    line-height: 1.125;
    color: #000000;
    width: 3.8rem;
    position: absolute;
    top: 2.9rem;
    font-weight: 400;
    white-space: nowrap;
    height: 2.7rem;
    left: 102rem;
    font-size: 2.4rem;
    font-family: Inter, 'Source Sans Pro';
  }
  .more-qjc {
    width: 7rem;
    height: 2.7rem;
    position: absolute;
    left: 116.2273rem;
    top: 2.8rem;
    font-weight: 400;
    color: #000000;
    white-space: nowrap;
    font-size: 2.4rem;
    line-height: 1.125;
    font-family: Inter, 'Source Sans Pro';
  }
}
